<!DOCTYPE html>
<head>
    <title>Person</title>
</head>
<body>
    <form action="/edit-person/<%=person.name%>" method="POST">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" value="<%=person.name%>">
        <button type="submit">Save</button>
    </form>
</body>