<!DOCTYPE html>
<head>
    <title>Person</title>
</head>
<body>
    <form action="/addPerson" method="POST">
        <label for="name">Name</label>
        <input type="text" name="name" id="name">
        <button type="submit">Save</button>
    </form>
</body>